---
layout: page
title: "タグ"
permalink: /tags/
---

<style type="text/css">

.tagcloud ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.tagcloud ul li {
	display: inline-block;
	font-size: {{ tag | last | size | times: 100 | divided_by: site.tags.size | plus: 70  }}%;
	margin: 0 .3em .3em 0;
	padding: 0;
}
.tagcloud ul li a {
	display: inline-block;
	max-width: 100px;
	height: 28px;
	line-height: 28px;
	padding: 0 1em;
	background-color: #fff;
	border: 1px solid #aaa;
	border-radius: 3px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	color: #333;
	font-size: 13px;
	text-decoration: none;
	-webkit-transition: .2s;
	transition: .2s;
}
.tagcloud ul li a:hover {
	background-color: #3498db;
	border: 1px solid #3498db;
	color: #fff;
}
</style>

<div class="tagcloud">
<ul>
{% for tag in site.tags %}
  <li>
  	<a href="#{{ tag | first | slugize }}">
      {{ tag | first }}
    </a>
  </li>
{% endfor %}
</ul>
</div>

<div class="tag-list">
{% for tag in site.tags %}
  <div class="tag-group">
    {% capture tag_name %}{{ tag | first }}{% endcapture %}
    <h5 class="tag-group-title" id="{{ tag_name | slugize }}">{{ tag_name }}</h5>
    {% for post in site.tags[tag_name] %}
    <article class="tag-item">
      <a class="tag-item-title" href="{{ site.url }}{{ post.url }}">{{post.title}}</a>
    </article>
    {% endfor %}
  </div>
{% endfor %}
</div>
