---
layout: page
title:  "更新履歴"
permalink: "/update/"
---

<div class="archive">
  <div class="timeline" id="timeline">
    {% for post in site.posts %}
    {% unless post.next %}
    <div class="archive-title">
      <h4 class="archive-year">{{ post.update | date: "%Y年" }}</h4>
    </div>
    
<ul style="list-style-type: none;">
    {% else %}
      {% capture year %}{{ post.update | date: "%Y年" }}{% endcapture %}
      {% capture nyear %}{{ post.next.update | date: '%Y年' }}{% endcapture %}
    {% if year != nyear %}
    </ul>
    <div class="archive-title">
      <h4 class="archive-year">{{ post.update | date: '%Y年' }}</h4>
    </div>
    
    <ul style="list-style:none;">
    {% endif %}
    {% endunless %}
    
    <li>
      <div style="width:80px;
                  float:left;
                  color: #b5ca1b;
                  font-weight: bold;">
        {% if post.update %}{{ post.update | date: "%m月%d日" }}更新</div><a href="{{ site.url }}{{ post.url }}">{{ post.title }}{% endif %}</a></li>{% endfor %}
    </ul>
    
  </div>

</div>
