---
layout: page
title:  "更新履歴"
permalink: "/update/"
---

<div class="archive">
  <div class="timeline" id="timeline">
    {% for post in site.posts %}
    {% unless post.next %}

    {% endunless %}
    <ul style="list-style:none;">
    <li>
      <div style="width:80px;
                  float:left;
                  color: #b5ca1b;
                  font-weight: bold;">
        {% if post.update %}{{ post.update | date: "%Y年%m月%d日" }}更新</div> <a href="{{ site.url }}{{ post.url }}">{{ post.title }}{% endif %}</a>
      {% endfor %}
    </ul>
      
  </div>

</div>
