{% if page.author %} {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %} {% endif %}

<div class="cover-card table-cell table-middle">
  {% if author.avatar %}
  <a href="{{ site.url }}/"><img src="{{ site.url }}/img/{{ author.avatar }}" alt="サイトトップ" class="avatar"></a>
  {% endif %}
  <h1><a href="{{ site.url }}/" class="author_name">{{ site.title }}</a></h1>
  <span class="author_job">{{ site.description }}</span>
  <span class="author_bio mbm">{{ author.bio }}</span>
  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item">
        <a href="{{ site.url }}/about">about</a>
        <span>/</span>
      </li>
      <li class="nav-item">
        <a href="{{ site.url }}/archive">全記事</a>
        <span>/</span>
      </li>
      <li class="nav-item">
        <a href="{{ site.url }}/update">更新履歴</a>
        <span>/</span>
      </li>
      <li class="nav-item">
        <a href="{{ site.url }}/categories">カテゴリー</a>
        <span>/</span>
      </li>
      <li class="nav-item">
        <a href="{{ site.url }}/tags">タグ</a>
        <span>/</span>
      </li>
       <li class="nav-item">
        <a href="{{ site.url }}/feed.xml">RSS</a>
      </li>
    </ul>
  </nav>
  {% include social-links.html %}
</div>
