<div class="social-links">
  <ul>
    {% if author.email %}<li><a href="mailto:{{ author.email }}" class="social-link-item" target="_blank" style="color:#000000">Mail</a></li>{% endif %}
    {% if author.youtube %}<li><a href="https://youtube.com/user/{{ author.youtube }}" class="social-link-item" target="_blank" style="color:#cd201f">YOUTUBE</a></li>{% endif %}
    {% if author.niconico %}<li><a href="http://www.nicovideo.jp/user/{{ author.niconico }}" class="social-link-item" target="_blank" style="color:#000000">niconico</a></li>{% endif %}
    {% if author.twitter %}<li><a href="https://twitter.com/{{ author.twitter }}" class="social-link-item" target="_blank" style="color:#1DA1F2">Twitter</a></li>{% endif %}
    {% if author.instagram %}<li><a href="https://www.instagram.com/{{ author.instagram }}" class="social-link-item" target="_blank" style="color:#262626">Instagram</a></li>{% endif %}
  </ul>
</div>
